@charset "UTF-8";
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * revert reset.scss
 */
sup {
  vertical-align: super;
}

sub {
  vertical-align: sub;
}

/**
 * Basic styling
 */
body {
  font-family: "Fira Sans", "Source Han Sans", "Source Han Sans JP", "Noto Sans CJK", "Noto Sans CJK JP", "Yu Gothic", "YuGothic", "Hiragino Kaku Gothic Std", "HGPGothicE", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizelegibility;
  font-kerning: normal;
  color: #333;
  background-color: #F9F9F9;
  accent-color: #03A9F4;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px;
}

/**
 * Vertical writing, Base
 */
@supports (writing-mode: vertical-rl) or (-webkit-writing-mode: vertical-rl) {
  html.vertical-writing-recommended {
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
  }
}
/**
 * Format
 */
em {
  font-style: italic;
}

em:lang(ja) {
  font-style: normal;
  text-shadow: 0.25px 0 0.125px currentColor;
  text-decoration-style: double;
  text-decoration-line: underline;
}

pre:lang(ja) em, pre:lang(ja) strong, code:lang(ja) em, code:lang(ja) strong {
  text-decoration-style: double;
  text-decoration-line: underline;
}
pre:lang(ja) em, code:lang(ja) em {
  font-style: normal;
  text-shadow: 0.25px 0 0.125px currentColor;
}
pre:lang(ja) strong, code:lang(ja) strong {
  color: #c00;
  text-shadow: 0.5px 0 0.125px #c00;
}

@supports ((text-emphasis-style: sesame) or (-webkit-text-emphasis-style: sesame)) and ((text-emphasis-style: circle) or (-webkit-text-emphasis-style: circle)) {
  @supports (writing-mode: vertical-rl) or (-webkit-writing-mode: vertical-rl) {
    html.vertical-writing-recommended em:lang(ja), html.vertical-writing-recommended strong:lang(ja) {
      text-decoration: none;
      text-shadow: none;
    }
    html.vertical-writing-recommended em:lang(ja) {
      -webkit-text-emphasis-style: sesame;
      text-emphasis-style: sesame;
    }
    html.vertical-writing-recommended strong:lang(ja) {
      -webkit-text-emphasis-style: circle;
      text-emphasis-style: circle;
    }
    html.vertical-writing-recommended pre:lang(ja) em, html.vertical-writing-recommended pre:lang(ja) strong, html.vertical-writing-recommended code:lang(ja) em, html.vertical-writing-recommended code:lang(ja) strong {
      -webkit-text-emphasis-style: none;
      text-emphasis-style: none;
    }
  }
}
/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure {
  margin: 1em auto 1em auto;
  background-color: #fff;
  padding: 2px;
  text-align: center;
}
@supports (writing-mode: vertical-rl) or (-webkit-writing-mode: vertical-rl) {
  html.vertical-writing-recommended figure {
    margin: auto;
  }
}

figure > img {
  display: block;
  margin: auto;
}

figure.highlight {
  border: 0;
}

figcaption {
  font-size: 14px;
}

/**
 * Lists
 */
ul, ol {
  margin-left: 30px;
}

li > ul,
li > ol {
  margin-bottom: 0;
}

@supports (writing-mode: vertical-rl) or (-webkit-writing-mode: vertical-rl) {
  html.vertical-writing-recommended ul, html.vertical-writing-recommended ol {
    margin: 30px auto auto auto;
  }
  html.vertical-writing-recommended li > ul,
  html.vertical-writing-recommended li > ol {
    margin: auto auto auto 0;
  }
  html.vertical-writing-recommended ol > li {
    list-style-type: cjk-ideographic;
  }
}
/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}
html:not(.vertical-writing-recommended) h1, html:not(.vertical-writing-recommended) h2, html:not(.vertical-writing-recommended) h3, html:not(.vertical-writing-recommended) h4, html:not(.vertical-writing-recommended) h5, html:not(.vertical-writing-recommended) h6 {
  font-variant-east-asian: proportional-width;
  font-variant-ligatures: common-ligatures;
  -webkit-font-feature-settings: "pwid", "palt", "liga", "clig";
  font-feature-settings: "pwid", "palt", "liga", "clig";
  text-align: initial;
}

/**
 * Links
 */
a {
  color: #03A9F4;
  text-decoration: underline;
}
a:visited {
  color: #015276;
}
a:hover {
  color: #FF5252;
}

/**
 * Blockquotes
 */
blockquote {
  color: #333;
  background-color: #efefef;
  border-left: 4px solid #FFC107;
  padding: 2.5px;
  padding-left: 15px;
}
@supports (writing-mode: vertical-rl) or (-webkit-writing-mode: vertical-rl) {
  html.vertical-writing-recommended blockquote {
    border-left: 0px;
    border-top: 4px solid #FFC107;
    padding: 2.5px;
    padding-top: 15px;
  }
}
blockquote > :last-child {
  margin-bottom: 0;
}

/**
 * Code formatting
 */
pre,
code {
  font-family: "Fira Mono", "Droid Sans Mono", monospace;
  font-variant-numeric: slashed-zero;
  -webkit-font-feature-settings: "zero";
  font-feature-settings: "zero";
  font-size: 15px;
  background-color: #efefef;
}

code {
  padding: 1px;
}

pre {
  padding: 8px 12px;
  overflow: auto;
}
pre > code {
  border: 0;
  padding: 0;
  background-color: transparent;
}
.highlight pre, .highlight pre > code, pre[style], pre[style] > code, pre > code[style] {
  background-color: transparent;
}
.highlight pre {
  margin: 0;
}

.highlight {
  text-align: start;
}

/**
 * Wrapper
 */
.wrapper {
  max-width: 740px;
  margin: auto;
  padding: inherit 30px;
}
@media screen and (max-width: 800px) {
  .wrapper {
    max-width: 770px;
    padding: inherit 15px;
  }
}
@supports (writing-mode: vertical-rl) or (-webkit-writing-mode: vertical-rl) {
  html.vertical-writing-recommended .wrapper {
    max-width: none;
    margin: auto;
    padding: 30px inherit;
    max-height: 580px;
  }
  @media screen and (max-width: 640px) {
    html.vertical-writing-recommended .wrapper {
      max-height: 610px;
      padding: 15px inherit;
    }
  }
}

/**
 * Clearfix
 */
.wrapper:after {
  content: "";
  display: table;
  clear: both;
}

hr {
  border: solid thin #c6c6c6;
  margin: 30px;
}

/*
 * Site Header
 */
.site-header {
  min-height: 56px;
  font-size: 150%;
}

.site-title, .site-title:visited, .site-nav .menu-icon, .site-nav .menu-icon:visited, .site-nav .page-link, .site-nav .page-link:visited {
  color: #5c5c5c;
  text-decoration: none;
}
.site-title:hover, .site-nav .menu-icon:hover, .site-nav .page-link:hover {
  color: #5c5c5c;
  text-decoration: underline;
}

.site-title {
  font-weight: 800;
  letter-spacing: -1px;
}

.site-nav {
  float: right;
}
.site-nav .menu-icon {
  display: none;
}
.site-nav .page-link {
  margin: 3px;
}

@media screen and (max-width: 600px) {
  .site-nav {
    position: absolute;
    top: 9px;
    right: 30px;
    text-align: right;
  }
  .site-nav .menu-icon {
    display: block;
    padding: 3px;
  }
  .site-nav .menu-icon::before {
    content: "≡";
  }
  .site-nav .menu-icon, .site-nav .menu-icon:visited, .site-nav .menu-icon:hover {
    text-decoration: none;
    color: #333;
  }
  .site-nav .trigger {
    clear: both;
    display: none;
  }
  .site-nav:hover, .site-nav:focus-within {
    background-color: #F9F9F9;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.13), 0 3px 9px 1px rgba(0, 0, 0, 0.5), 0 0 0 1px rgba(0, 0, 0, 0.23);
  }
  .site-nav:hover .trigger, .site-nav .menu-icon:active + .trigger {
    display: block;
    padding: 10px;
  }
  .site-nav .page-link {
    display: block;
  }
  .site-nav .page-link, .site-nav .page-link:visited, .site-nav .page-link:hover {
    color: #333;
  }
}
@supports (writing-mode: vertical-rl) or (-webkit-writing-mode: vertical-rl) {
  html.vertical-writing-recommended .site-header {
    min-height: none;
    min-width: 56px;
    font-size: 150%;
  }
  @media screen and (max-width: 600px) {
    html.vertical-writing-recommended .site-nav {
      position: static;
      top: none;
      right: none;
      border: 0px none;
      float: right;
    }
    html.vertical-writing-recommended .site-nav .menu-icon {
      display: none !important;
    }
    html.vertical-writing-recommended .site-nav .trigger, html.vertical-writing-recommended .site-nav:hover .trigger, html.vertical-writing-recommended .site-nav .menu-icon:active + .trigger {
      display: block;
      padding: inherit;
      clear: none;
    }
    html.vertical-writing-recommended .site-nav .page-link {
      display: inline !important;
    }
  }
}
/*
 * Post list cards
 */
@supports (display: -ms-flexbox) or (display: -webkit-flex) or (display: flex) {
  .post-list {
    display: block;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
  }
  .post-list .post-item {
    display: block;
    border: 5px solid #FFC107;
    width: 20%;
    margin: 2px;
    padding: 5px;
    overflow: hidden;
  }
  .post-list .post-item:has(:hover) {
    border-color: #FF5252;
  }
  .post-list .post-item .post-link {
    display: block;
    color: #333;
    text-decoration: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .post-list .post-item .post-link:hover {
    color: #FF5252;
  }
  .post-list .post-item .post-meta {
    display: block;
    font-size: 14px;
  }
  .post-list .post-item .post-title {
    display: block;
  }
  .post-list .post-item .post-thumb {
    display: block;
    object-fit: contain;
    height: 5em;
    margin: auto;
  }
  .post-list .post-item .post-thumb[data-image-path] {
    background-color: #5c5c5c;
  }
  @media screen and (max-width: 600px) {
    .post-list .post-item {
      width: 100%;
    }
    .post-list .post-item .post-thumb {
      display: none;
      visibility: hidden;
    }
  }
  @supports (writing-mode: vertical-rl) or (-webkit-writing-mode: vertical-rl) {
    html.vertical-writing-recommended .post-list {
      /* As of Oct 2016, Firefox fails to render flex boxes within vertical-rl block. */
      display: block;
    }
    html.vertical-writing-recommended .post-list .post-item {
      width: auto;
      height: 100%;
    }
    html.vertical-writing-recommended .post-list .post-item .post-thumb {
      display: none;
      visibility: hidden;
    }
  }
}
/*
 * Home Layout
 */
.pagination {
  text-align: center;
  margin: 30px;
}

.pagination > * {
  margin: auto 0.2ex;
}

/*
 * Post Layout
 */
.post .post-header {
  background-color: #FFC107;
  margin: 30px 0;
  line-height: 1.2;
  padding: 15px;
}
@media screen and (max-width: 480px) {
  .post .post-header {
    padding: 2px;
  }
}
@supports (writing-mode: vertical-rl) or (-webkit-writing-mode: vertical-rl) {
  html.vertical-writing-recommended .post .post-header {
    margin: 0 30px;
  }
}
.post .post-header .post-title {
  font-size: xx-large;
  font-weight: 800;
  letter-spacing: -1px;
  margin: 30px auto;
}
@supports (writing-mode: vertical-rl) or (-webkit-writing-mode: vertical-rl) {
  html.vertical-writing-recommended .post .post-header .post-title {
    margin: auto 30px;
  }
}
.post .post-header .post-meta {
  display: display;
  font-size: 14px;
  text-align: right;
}
.post .post-header .post-meta .tag + .tag::before {
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  content: " ";
}
.post .post-header a {
  color: #333;
  text-decoration: none;
}
.post .post-header a:hover {
  text-decoration: underline;
}
.post .post-footer {
  margin: 1em 1em 60px 1em;
}
@supports (writing-mode: vertical-rl) or (-webkit-writing-mode: vertical-rl) {
  html.vertical-writing-recommended .post .post-footer {
    margin: 1em 1em 1em 60px;
  }
}

/*
 * Post Content
 */
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  margin: 40px 0 20px 0;
}
.post-content h2, .post-content h3 {
  font-size: xx-large;
}
.post-content h4 {
  font-size: x-large;
}
.post-content h5 {
  font-size: large;
}
.post-content p {
  margin: 10px 0;
}
.post-content img {
  max-width: 100%;
  width: auto;
  height: auto;
}
@media screen and (max-width: 480px) {
  .post-content .fitcontain {
    width: 100%;
    height: auto;
  }
}
.post-content table:not([class]):not([style]) {
  border-collapse: collapse;
  margin: auto;
}
.post-content table:not([class]):not([style]) td, .post-content table:not([class]):not([style]) th {
  border: 1px solid #5c5c5c;
  padding: 2px;
}
.post-content table:not([class]):not([style]) thead, .post-content table:not([class]):not([style]) tfoot {
  background-color: #FFC107;
}
.post-content table:not([class]):not([style]) caption {
  text-align: center;
}
.post-content:lang(ja) {
  text-align: justify;
  text-justify: inter-ideograph;
}
.post-content:lang(ja) > p {
  text-indent: 1em;
}
.post-content:lang(ja) > pre + p, .post-content:lang(ja) > math + p, .post-content:lang(ja) > ul + p, .post-content:lang(ja) > ol + p {
  text-indent: inherit !important;
}
.post-content:lang(ja) :not(:lang(ja)) {
  text-align: left;
}
@supports (writing-mode: vertical-rl) or (-webkit-writing-mode: vertical-rl) {
  html.vertical-writing-recommended .post-content:lang(ja) {
    line-height: 1.75;
  }
  html.vertical-writing-recommended .post-content:lang(ja) pre, html.vertical-writing-recommended .post-content:lang(ja) code {
    line-height: 1.5;
  }
  html.vertical-writing-recommended .post-content h1, html.vertical-writing-recommended .post-content h2, html.vertical-writing-recommended .post-content h3, html.vertical-writing-recommended .post-content h4, html.vertical-writing-recommended .post-content h5, html.vertical-writing-recommended .post-content h6 {
    margin: 0 40px 0 20px;
  }
  html.vertical-writing-recommended .post-content p {
    margin: auto 10px;
  }
  html.vertical-writing-recommended .post-content .fitcontain {
    /* As of firefox 46, vertical-rl may conflict with object-fit. */
    object-fit: unset;
    width: auto;
    height: auto;
  }
  html.vertical-writing-recommended .post-content blockquote, html.vertical-writing-recommended .post-content math, html.vertical-writing-recommended .post-content > table, html.vertical-writing-recommended .post-content > figure {
    margin: auto 1px;
  }
  html.vertical-writing-recommended .post-content figure:not(.highlight) {
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb;
    /* As of Mar 2016, Edge fails to calculate the width of horizontal-tb block within vertical-rl block. */
    max-width: 100vh;
  }
}
.post-content:lang(en) {
  text-align: left;
}

@supports (writing-mode: vertical-rl) or (-webkit-writing-mode: vertical-rl) {
  html.vertical-writing-recommended .post-footer #disqus_thread {
    writing-mode: horizontal-tb;
    -webkit-writing-mode: horizontal-tb;
    width: 90vh;
  }
}

/*
 * Tag / Archive
 */
.tag-cloud {
  margin-bottom: 30px;
}

.tag {
  margin: 1px;
}

.archive .archive-year-summary a, .archive .archive-month-summary a {
  margin: 2px;
}

/*
 * About page
 */
.about-content ul > li {
  list-style-type: none;
}
.about-content .svg-icon {
  display: inline-block;
  vertical-align: middle;
}
.about-content .svg-icon * {
  fill: currentColor;
}

/*
 * Site Footer
 */
.site-footer {
  font-size: 14px;
  color: #5c5c5c;
  margin-top: 30px;
  padding-top: 30px;
}
@supports (writing-mode: vertical-rl) or (-webkit-writing-mode: vertical-rl) {
  html.vertical-writing-recommended .site-footer {
    margin: auto 30px auto auto;
    padding: inherit 30px inherit inherit;
  }
}
.site-footer .footer-heading {
  float: right;
  font-weight: 800;
  letter-spacing: -1px;
  padding: 0 15px;
}
@supports (writing-mode: vertical-rl) or (-webkit-writing-mode: vertical-rl) {
  html.vertical-writing-recommended .site-footer .footer-heading {
    padding: 15px 0;
  }
  @media screen and (max-height: 640px) {
    html.vertical-writing-recommended .site-footer .footer-heading {
      padding: 2px;
      float: none;
    }
  }
}
@media screen and (max-width: 600px) {
  .site-footer .footer-heading {
    padding: 2px;
    float: none;
  }
}

.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

.highlight, .highlight .w {
  color: #fbf1c7;
  background-color: #282828;
}

.highlight .err {
  color: #fb4934;
  background-color: #282828;
  font-weight: bold;
}

.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1, .highlight .cs {
  color: #928374;
  font-style: italic;
}

.highlight .cp {
  color: #8ec07c;
}

.highlight .nt {
  color: #fb4934;
}

.highlight .o, .highlight .ow {
  color: #fbf1c7;
}

.highlight .p, .highlight .pi {
  color: #fbf1c7;
}

.highlight .gi {
  color: #b8bb26;
  background-color: #282828;
}

.highlight .gd {
  color: #fb4934;
  background-color: #282828;
}

.highlight .gh {
  color: #b8bb26;
  font-weight: bold;
}

.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr, .highlight .kv {
  color: #fb4934;
}

.highlight .kc {
  color: #d3869b;
}

.highlight .kt {
  color: #fabd2f;
}

.highlight .kd {
  color: #fe8019;
}

.highlight .s, .highlight .sb, .highlight .sc, .highlight .dl, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
  color: #b8bb26;
  font-style: italic;
}

.highlight .si {
  color: #b8bb26;
  font-style: italic;
}

.highlight .sr {
  color: #b8bb26;
  font-style: italic;
}

.highlight .sa {
  color: #fb4934;
}

.highlight .se {
  color: #fe8019;
}

.highlight .nn {
  color: #8ec07c;
}

.highlight .nc {
  color: #8ec07c;
}

.highlight .no {
  color: #d3869b;
}

.highlight .na {
  color: #b8bb26;
}

.highlight .m, .highlight .mb, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo, .highlight .mx {
  color: #d3869b;
}

.highlight .ss {
  color: #83a598;
}

/*# sourceMappingURL=main.css.map */